/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid $card-border-color;
  border-left-width: 5px;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }

  /* Tighten up space between multiple callouts */
  & + .callout {
    margin-top: -5px;
  }
}

/* Variations */
.callout-primary {
  border-left-color: $brand-primary;
}
.callout-success {
  border-left-color: $brand-success;
}
.callout-info {
  border-left-color: $brand-info;
}
.callout-warning {
  border-left-color: $brand-warning;
}
.callout-danger {
  border-left-color: $brand-danger;
}
