<div class="marketing row">

    <div class="col-xs-12 col-sm-4">
        <a href="https://www.reddit.com/r/Minecraft/">
            <img class="marketing-img" src="/img/brands/reddit-alien.png" alt="Follow us!">
        </a>
        <div class="marketing-info">
            <h2>Reddit</h2>
            <p>
                Upvote for the team!<br /> Discuss our content, hype it, upvote it ;)<br /> TL;DR - upvote us on Reddit
            </p>
        </div>
        <a href="https://www.reddit.com/r/Minecraft/" class="btn btn-warning">Upvote!</a>
    </div>

    <div class="col-xs-12 col-sm-4">
        <a href="https://twitter.com/teamwooloo">
            <img class="marketing-img" src="/img/brands/Twitter_logo_blue.png" alt="Follow us!">
        </a>
        <div class="marketing-info">
            <h2>Twitter</h2>
            <p>
                Follow us on Twitter!<br /> Get updates on our Minecraft creations, videos, maps, and what not!
            </p>
        </div>
        <a href="https://twitter.com/teamwooloo" class="btn btn-info">Follow us on twitter!</a>
    </div>

    <div class="col-xs-12 col-sm-4">
        <a href="https://www.youtube.com/user/teamwooloo">
            <img class="marketing-img" src="/img/brands/YouTube-logo-full_color.png" alt="Visit YouTube!">
        </a>
        <div class="marketing-info">
            <h2>YouTube</h2>
            <p>
                Watch our videos on YouTube!<br /> Minecraft concepts, maps, minigames and more!<br /> And don't forget to subscribe ;)
            </p>
        </div>
        <a href="https://www.youtube.com/user/teamwooloo" class="btn btn-danger">Find us on Youtube!</a>
    </div>

</div>


<hr class="featurette-divider">

<div id="youtubefeed"></div>

<script async src="/js/youtube_feed.js" defer></script>

