<a tabindex="0"
   class="btn btn-sm btn-outline-primary share-link"
   role="button"
   data-toggle="popover"
   data-id="<%= page._id %>"
   data-trigger="focus"
   data-container="body"
   data-url="<%- page.permalink %>"
   data-placement="bottom"
   title="<%= page.title %>">
    <i class="fa fa-share-square-o"></i> Share
</a>
