<div class="widget-wrap">
    <!-- Side ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9236568290320191"
         data-ad-slot="2365283663"
         data-ad-format="auto"></ins>

</div>