<div class="widget-wrap">
    <a class="twitter-timeline"
       href="https://twitter.com/<%- theme.widget.twitter.name %>"
       data-widget-id="<%- theme.widget.twitter.id %>">Tweets by @<%- theme.widget.twitter.name %></a>

    <script>
        window.onload =(function() {
            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
        });
    </script>
</div>

